/* src/Admin.css */

.admin-dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 50px;
    padding-left: 300px;
    /*background-color: #237FEC;*/
    background-color: white;
    height: 50vh; /* Set the height as needed */
    width: 80vh;
     /* Adjust the opacity to make it transparent */
  }
  
  .admin-box {
    background-image: url(/public/images/vote.jpg); /* Adjust the alpha (fourth value) to control the box transparency */
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    padding: 40px;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 200px;
  }
  
  .admin-box:hover {
    background-color: rgba(255, 255, 255, 1); /* Change the background color on hover */
  }
  
  .admin-box h3 {
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
  }
  
  .admin-box p {
    font-size: 14px;
    color: whitesmoke;
    margin-bottom: 0;
  }
  
  /* Add more styles as needed */
  