.election-heading {
  text-align: center; /* Center text horizontally */
  margin-top: 20px; /* Add some margin at the top */
}

.election-id-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.election-id-label {
  margin-right: 20px;
  margin-left: 70px;
  flex-shrink: 0; /* Prevent label from shrinking */
}

.election-id-input {
 
  padding: 4px; /* Add some padding to input */
  width: 250px;
}

.Button1{
  display: block;
    margin-left: 70px;

    background-color:#237FEC;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    width: 100px;
    grid-column: span 2;
    align-items: center;
}

table {
  width: 90%; /* Set table width to 100% */
  border-collapse: collapse; /* Collapse table borders */
  margin: 0 auto; /* Center the table horizontally */
}

th, td {
  padding: 8px; /* Add padding to table cells */
  border: 1px solid #ddd; /* Add border to table cells */
  text-align: left; /* Align text to the left */
}

.Button2{
  display: block;
    margin-left: 70px;

    background-color:#237FEC ;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    width: 170px;
    grid-column: span 2;
    align-items: center;
}