

.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  
  .centralized-heading {
    text-align: center;
  }
  
  .registration-form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 90%; /* Adjust the width as needed */
  }
  
  .registration-column {
    margin: 20px; /* Adjust the margin as needed for spacing between columns */
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .next-button {
    text-align: center; 
    margin-top: 10px;
  }
  
  .button2 {
    display: block;
    margin-left: 500px;

    background-color:#1e68c2 ;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    width: 100px;
    grid-column: span 2;
    align-items: center;
}
.button3{
  display: block;
    margin-left: 12px;
    background-color:#1e68c2 ;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    width: 100px;
    grid-column: span 2;
    text-decoration: none;
    align-items: center;
}



  
  